########################
# OS / editor junk
########################
.DS_Store
*.swp
*.swo
*~
.vscode/
.idea/
.cache/
*.pid

########################
# Binaries / build
########################
bin/
dist/
*.out
*.test

########################
# Archives / backups
########################
*.zip
*.tar
*.gz

########################
# Local runtime configs
########################
.config/
*.local.yaml

########################
# Logs
########################
*.log
**/*.log

